body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    background: #333;
    margin: 0;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #555;
}



#register-background{
    text-align: center;
    align-items: center;
    background-color: #bdbdbd;
    width: 31vw;
}
#register-form{
    display: grid;
    width: 30vw;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#register-form label{
    text-align: left;
}